<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>控制器别名</title>
</head>
<body ng-app="myApp">
    <div ng-controller="RoomController as room">
        <div class="btn-default" ng-click="room.openDoor()">
            {{room.buttonTitle}}
            <div ng-controller="OtherRoomController as other">
                {{room.foo}}
                <br/>
                {{other.foo}}
            </div>
        </div>
    </div>

    <div ng-controller="OtherController">
        <div class="btn-default" ng-click="openOtherDoor()">
            Open
        </div>
    </div>

    <script src="../angular.min.js"></script>

    <script>
        var app = angular.module('myApp', []);
        app.controller("RoomController", function() {
            this.openDoor = function() {
                alert("open the door !");
            };
            this.buttonTitle = "I am a button";
            this.foo = "I am foo of RoomController";
        });
        app.controller("OtherRoomController", function() {
            this.openDoor = function() {
                alert("open the other door !");
            };
            this.buttonTitle = "I am a button";
            this.foo = "I am foo of OtherRoomController";
        });
        app.controller("OtherController", function($scope) {
            $scope.openOtherDoor = function() {
                alert("open the other door !");
            };
        });
    </script>

</body>
</html>