<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>动态组件&异步组件</title>
  </head>
  <body>
    <div id="app">
      <div>
        <label><input type="radio" value="component-one" v-model="currentComponent" />one</label>
        <label><input type="radio" value="component-two" v-model="currentComponent" />two</label>
      </div>
      <br />

      <!--如果要在切换组件时保持状态，使用keey-alive包裹-->
      <!--keep-alive包裹的组件必须有名字，不管是全局注册还是name属性-->
      <div>
        <!-- 与动态组件结合 -->
        <keep-alive>
          <component :is="currentComponent"></component>
        </keep-alive>
      </div>
      <br />

      <div>
          <!-- 与条件渲染结合 -->
        <keep-alive>
          <component-one v-if="currentComponent==='component-one'"></component-one>
          <component-two v-else></component-two>
        </keep-alive>
      </div>
    </div>

    <script src="../../../node_modules/vue/dist/vue.js"></script>
    <script src="./index010.js"></script>
  </body>
</html>
