<div style="width: 500px;">
  <table>
    <tr>
      <th colspan="2">总结</th>
    </tr>
    <tr>
      <td>领域特性模块</td>
      <td>实现页面逻辑的模块</td>
    </tr>
    <tr>
      <td>路由特性模块</td>
      <td>懒加载的领域特性模块</td>
    </tr>
    <tr>
      <td>路由模块</td>
      <td>提供路由配置的模块</td>
    </tr>
    <tr>
      <td>服务模块</td>
      <td>提供工具服务的模块</td>
    </tr>
    <tr>
      <td>窗口部件模块</td>
      <td>为外部模块提供组件、指令和管道的模块</td>
    </tr>
  </table>
  <table>
    <tbody>
    <tr>
      <th style="vertical-align: top">
        <p translation-result=""> 特性模块</p>

      </th>
      <th style="vertical-align: top">
        <p translation-result=""> 指导原则</p>

      </th>
    </tr>
    <tr>
      <td>
        <p translation-result=""> 领域</p>

      </td>
      <td>
        <p translation-result=""> 领域特性模块用来给用户提供应用程序领域中特有的用户体验，比如编辑客户信息或下订单等。</p>

        <p translation-result=""> 它们通常会有一个顶级组件来充当该特性的根组件，并且通常是私有的。用来支持它的各级子组件。</p>

        <p translation-result=""> 领域特性模块大部分由 <code>declarations</code> 组成，只有顶级组件会被导出。</p>

        <p translation-result=""> 领域特性模块很少会有服务提供商。如果有，那么这些服务的生命周期必须和该模块的生命周期完全相同。</p>

        <p translation-result=""> 领域特性模块通常会由更高一级的特性模块导出且只导出一次。</p>

        <p translation-result=""> 对于缺少路由的小型应用，它们可能只会被根模块 <code>AppModule</code> 导入一次。</p>

      </td>
    </tr>
    <tr>
      <td>
        <p translation-result=""> 路由</p>

      </td>
      <td>
        <p translation-result=""> 带路由的特性模块是一种特殊的领域特性模块，但它的顶层组件会作为路由导航时的目标组件。</p>

        <p translation-result=""> 根据这个定义，所有惰性加载的模块都是路由特性模块。</p>

        <p translation-result=""> 带路由的特性模块不会导出任何东西，因为它们的组件永远不会出现在外部组件的模板中。</p>

        <p translation-result=""> 惰性加载的路由特性模块不应该被任何模块导入。如果那样做就会导致它被立即加载，破坏了惰性加载的设计用途。
          也就是说你应该永远不会看到它们在 <code>AppModule</code> 的 <code>imports</code> 中被引用。
          立即加载的路由特性模块必须被其它模块导入，以便编译器能了解它所包含的组件。</p>

        <p translation-result=""> 路由特性模块很少会有服务提供商，原因参见<a href="/guide/lazy-loading-ngmodules">惰性加载的特性模块</a>中的解释。如果那样做，那么它所提供的服务的生命周期必须与该模块的生命周期完全相同。不要在路由特性模块或被路由特性模块所导入的模块中提供全应用级的单例服务。
        </p>

      </td>
    </tr>
    <tr>
      <td>
        <p translation-result=""> 路由</p>

      </td>
      <td>
        <p translation-result=""> 路由模块为其它模块提供路由配置，并且把路由这个关注点从它的配套模块中分离出来。</p>

        <p translation-result=""> 路由模块通常会做这些：</p>

        <ul>
          <li>
            <p translation-result=""> 定义路由。</p>

          </li>
          <li>
            <p translation-result=""> 把路由配置添加到该模块的 <code>imports</code> 中。</p>

          </li>
          <li>
            <p translation-result=""> 把路由守卫和解析器的服务提供商添加到该模块的 <code>providers</code> 中。</p>

          </li>
          <li>
            <p translation-result=""> 路由模块应该与其配套模块同名，但是加上“Routing”后缀。比如，<code>foo.module.ts</code> 中的
              <code>FooModule</code> 就有一个位于 <code>foo-routing.module.ts</code> 文件中的 <code>FooRoutingModule</code> 路由模块。
              如果其配套模块是根模块 <code>AppModule</code>，<code>AppRoutingModule</code> 就要使用
              <code><a href="api/router/RouterModule" class="code-anchor">RouterModule</a>.forRoot(routes)</code>
              来把路由器配置添加到它的 <code>imports</code> 中。
              所有其它路由模块都是子模块，要使用 <code><a href="api/router/RouterModule" class="code-anchor">RouterModule</a>.forChild(routes)</code>。
            </p>

          </li>
          <li>
            <p translation-result=""> 按照惯例，路由模块会重新导出这个 <code><a href="api/router/RouterModule" class="code-anchor">RouterModule</a></code>，以便其配套模块中的组件可以访问路由器指令，比如
              <code><a href="api/router/RouterLink" class="code-anchor">RouterLink</a></code> 和
              <code><a href="api/router/RouterOutlet" class="code-anchor">RouterOutlet</a></code>。</p>

          </li>
          <li>
            <p translation-result=""> 路由模块没有自己的可声明对象。组件、指令和管道都是特性模块的职责，而不是路由模块的。</p>

          </li>
        </ul>
        <p translation-result=""> 路由模块只应该被它的配套模块导入。</p>

      </td>
    </tr>
    <tr>
      <td>
        <p translation-result=""> 服务</p>

      </td>
      <td>
        <p translation-result=""> 服务模块提供了一些工具服务，比如数据访问和消息。理论上，它们应该是完全由服务提供商组成的，不应该有可声明对象。Angular 的
          <code><a href="api/common/http/HttpClientModule" class="code-anchor">HttpClientModule</a></code> 就是一个服务模块的好例子。
        </p>

        <p translation-result=""> 根模块 <code>AppModule</code> 是唯一的可以导入服务模块的模块。</p>

      </td>
    </tr>
    <tr>
      <td>
        <p translation-result=""> 窗口部件</p>

      </td>
      <td>
        <p translation-result=""> 窗口部件模块为外部模块提供组件、指令和管道。很多第三方 UI 组件库都是窗口部件模块。</p>

        <p translation-result=""> 窗口部件模块应该完全由可声明对象组成，它们中的大部分都应该被导出。</p>

        <p translation-result=""> 窗口部件模块很少会有服务提供商。</p>

        <p translation-result=""> 如果任何模块的组件模板中需要用到这些窗口部件，就请导入相应的窗口部件模块。</p>

      </td>
    </tr>
    </tbody>
  </table>

  <table>
    <tbody>
    <tr>
      <th style="vertical-align: top">
        <p translation-result=""> 特性模块</p>

      </th>
      <th style="vertical-align: top">
        <p translation-result=""> 声明 <code>declarations</code></p>

      </th>
      <th style="vertical-align: top">
        <p translation-result=""> 提供商 <code>providers</code></p>

      </th>
      <th style="vertical-align: top">
        <p translation-result=""> 导出什么</p>

      </th>
      <th style="vertical-align: top">
        <p translation-result=""> 被谁导入</p>

      </th>
    </tr>
    <tr>
      <td>
        <p translation-result=""> 领域</p>

      </td>
      <td>
        <p translation-result=""> 有</p>

      </td>
      <td>
        <p translation-result=""> 罕见</p>

      </td>
      <td>
        <p translation-result=""> 顶级组件</p>

      </td>
      <td>
        <p translation-result=""> 特性模块，AppModule</p>

      </td>
    </tr>
    <tr>
      <td>
        <p translation-result=""> 路由</p>

      </td>
      <td>
        <p translation-result=""> 有</p>

      </td>
      <td>
        <p translation-result=""> 罕见</p>

      </td>
      <td>
        <p translation-result=""> 无</p>

      </td>
      <td>
        <p translation-result=""> 无</p>

      </td>
    </tr>
    <tr>
      <td>
        <p translation-result=""> 路由</p>

      </td>
      <td>
        <p translation-result=""> 无</p>

      </td>
      <td>
        <p translation-result=""> 是（守卫）</p>

      </td>
      <td>
      </td>
      <td>
        <p translation-result=""> 特性（供路由使用）</p>

      </td>
    </tr>
    <tr>
      <td>
        <p translation-result=""> 服务</p>

      </td>
      <td>
        <p translation-result=""> 无</p>

      </td>
      <td>
        <p translation-result=""> 有</p>

      </td>
      <td>
        <p translation-result=""> 无</p>

      </td>
      <td>
      </td>
    </tr>
    <tr>
      <td>
        <p translation-result=""> 窗口部件</p>

      </td>
      <td>
        <p translation-result=""> 有</p>

      </td>
      <td>
        <p translation-result=""> 罕见</p>

      </td>
      <td>
        <p translation-result=""> 有</p>

      </td>
      <td>
        <p translation-result=""> 特性</p>

      </td>
    </tr>
    </tbody>
  </table>

</div>
