<!--The content below is only a placeholder and can be replaced.-->
<nav>
  angular核心知识
</nav>
<div class="body">
  <div class="left-menu">
    <ul>
      <li>
        <a href="javascript:void(0)">架构</a>
        <ul>
          <li><a routerLink="/architecture" routerLinkActive="active">组件、模版、元数据</a></li>
          <li><a routerLink="/dataBinding" routerLinkActive="active">数据绑定</a></li>
          <li><a routerLink="/directive" routerLinkActive="active">指令</a></li>
          <li><a routerLink="/service" routerLinkActive="active">服务、依赖注入</a></li>
        </ul>
      </li>
      <li>
        <a href="javascript:void(0)">模版与数据绑定</a>
        <ul>
          <li><a routerLink="/displayingData" routerLinkActive="active">显示数据</a></li>
          <li><a routerLink="/templateSyntax" routerLinkActive="active">模版语法</a></li>
          <li><a routerLink="/lifecycleHook" routerLinkActive="active">声明周期钩子</a></li>
          <li><a routerLink="/componentCommunication" routerLinkActive="active">组件交互</a></li>
          <li><a routerLink="/componentStyle" routerLinkActive="active">组件样式</a></li>
          <li><a routerLink="/dynamicComponent" routerLinkActive="active">动态组件</a></li>
          <li><a routerLink="/attributeDirective" routerLinkActive="active">属性型指令</a></li>
          <li><a routerLink="/structuralDirectives" routerLinkActive="active">结构型指令</a></li>
          <li><a routerLink="/pipe" routerLinkActive="active">管道</a></li>
          <li><a routerLink="/animation" routerLinkActive="active">动画</a></li>
        </ul>
      </li>
      <li>
        <a href="javascript:void(0)">表单</a>
        <ul>
          <li><a routerLink="/userInput" routerLinkActive="active">用户输入</a></li>
          <li><a routerLink="/templateDrivenForm" routerLinkActive="active">模板驱动表单</a></li>
          <li><a routerLink="/reactiveForm" routerLinkActive="active">响应式表单</a></li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="right-content">
    <router-outlet></router-outlet>
  </div>
</div>


