.app {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.app .menu {
  flex-grow: 0;
  width: 200px;
  height: 100%;
  overflow-y: auto;
  border-right: 1px solid;
  word-break: break-all;
}

.app .content {
  flex-grow: 1;
  width: 0;
  overflow-y: auto;
  height: 100%;
  padding-left: 20px;
}

.vertical-box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.vertical-box .vertical-box__header {
  flex-grow: 0;
  padding: 5px 0;
  border-bottom: 1px solid;
}

.vertical-box .vertical-box__header a {
  margin-right: 30px;
}

.vertical-box .vertical-box__content {
  flex-grow: 1;
  overflow: auto;
}
